body {
    background-color: rgb(40, 44, 55);
    font-family: 'Roboto', Arial;
    color: white;
}

.form-container {
    display: block;
    flex-direction: column;
    max-width: 480px; /* Adjusted for responsive design */
    margin: 2% auto;
}

.form-container * {
    text-align: left;
}

.title {
    font-size: 24px;
} 

.subtitle {
    color: rgb(200, 200, 200);
    font-size: 20px;
    margin: 0 0 20px 0;
}

.actions {
    display: flex;
    justify-content: space-between; /* This will add space between the two buttons */
    padding: 0; /* Reset any default padding */
    margin: 20px 0; /* Adjust margin as needed */
}

.yes-no-btn {
    cursor: pointer;  
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: auto;
    max-width: 210px;
    flex-grow: 1;
    margin: 0 20px 0 0;
    padding: 10px 0;
    text-align: center;

}

#yes-btn{
    background-color: rgb(99, 100, 255);
    color: white;
    margin-right: 0px;
}
#yes-btn:hover {
    background-color: rgb(90, 71, 220);
}

#no-btn{
    border: 0px solid rgb(99, 100, 255);
    background-color: rgb(100, 100, 100);
}

#no-btn:hover {
    background-color: rgb(90, 71, 220);
}

.account {
    display: flex;
    align-items: center;
    background-color: rgb(54, 58, 70);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(150, 150, 150);
    color: white; /* Text color */
    font-family: 'Roboto', sans-serif; /* The font from your HTML link */
    max-width: 600px; /* Or any max-width you'd prefer */
    margin: auto; /* Center the div if the parent is larger */
}

.account-avatar {
    margin-right: 15px; /* Space between avatar and text */
}

#avatar-img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%; /* Circular avatar */
}

.account-contents {
    display: flex;
    flex-direction: column;
}

.display-name {
    display: flex;
    align-items: center;
}

#display-name {
    margin-right: 5px;
    font-size: 1.2em;
}

#display-account {
    color: rgb(200, 200, 200);
}

.account-followers {
    margin-top: 10px;
}























