body {
    background-color: rgb(40, 44, 55);
    font-family: 'Roboto', Arial;
    color: white;
}

.form-container {
    display: block;
    flex-direction: column;
    max-width: 480px; /* Adjusted for responsive design */
    margin: 2% auto;
}

.form-container * {
    text-align: left;
}

.title {
    font-size: 30px;
} 

.subtitle {
    color: rgb(200, 200, 200);
    font-size: 20px;
    margin: 0 0 20px 0;
}

/* Input Fields */
.input-label {
    color: white;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.input-box {
    background-color: rgb(19, 20, 25);
    color: white;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s;
    margin: 5px 0 20px 0;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
}

.input-box:focus {
    border-color: rgb(87, 60, 207);
}

/* Submit Button */
.btn {
    cursor: pointer;
    background-color: rgb(99, 100, 255);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
    padding: 10px 0;
}

.btn:hover {
    background-color: rgb(90, 71, 220);
}

/* Expandable Container */
.expandable-container {
    width: 100%;
    border-bottom: 2px solid rgba(99, 100, 255, 0.5);
}

#expandable-container-1 {
    border-top: 2px solid rgba(99, 100, 255, 0.5);
}

.expandable-trigger {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: rgba(40, 44, 55);
    color: white;
    font-size: 18px;
    margin: 0;
    width: 100%;
}

.expandable-trigger-arrow {
    color: rgb(99, 100, 255);
    font-size: 30px;
    transition: transform 0.1s ease;
}

.expandable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
    padding-bottom: 10px;
}

.expandable-trigger.active .expandable-trigger-arrow {
    transform: rotate(-180deg);
}

.expandable-trigger.active + .expandable-content {
    max-height: 100%;
}

.expandable-content li {
    list-style: none;
    color: rgb(200, 200, 200);
    margin: 10px 0 0 7px;
}

.expandable-content li a {
    color: rgb(155, 174, 200);
    text-decoration: none;
}

.expandable-content li a:hover {
    text-decoration: underline;
}

.address {
    font-weight: 550;
    font-style: italic;
    color: white;
}

.instruction-image {
    width: 95%;
    border: 2px solid rgb(155, 174, 200);
    border-radius: 10px;
    margin: 10px 0 0 7px;
}